* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
div {
  position:relative;
  z-index: 2;
}
.power:hover {
  font-weight: 800;
  cursor: pointer;
}
.replay:hover {
  font-weight: 800;
  cursor: pointer;
}
.start:hover {
  font-weight: 800;
  cursor: pointer;
}
.strict:hover {
  font-weight: 800;
  cursor: pointer;
}
#red:hover {
  cursor: pointer;
opacity: 0.5
}
#green:hover {
  cursor: pointer;
 opacity: 0.5 
}
#yellow:hover {
  cursor: pointer;
  opacity: 0.5
}
#blue:hover {
  cursor: pointer;
  opacity: 0.5
}
.active {
  font-weight: 800;
}
.power {
  margin: 6px !important;
  width: 45px !important;
  height: 45px !important;
  border: solid  red 1.5px;
  border-radius: 50%;
  background-color: red;
  line-height:45px;
  font-size: 12px;
}
.buttons-container {
  display: table;
}
.start {
  margin: 6px !important;
  width: 45px !important;
  height: 45px !important;
  border: solid  green 1.5px;
  border-radius: 50%;
  line-height:45px;
  font-size: 12px;
}

.strict {
  margin: 6px !important;
  width: 45px !important;
  height: 45px !important;;
  border: solid  yellow 1.5px;
  border-radius: 50%;
  line-height:45px;
  font-size: 12px;
}

.replay {
  margin: 6px !important;
  width: 45px !important;
  height: 45px !important;;
  border: solid  blue 1.5px;
  border-radius: 50%;
  line-height:45px;
  font-size: 12px;
}

br {
  content: "";
  margin: 2px;
  display: block;
  font-size: 1%;
}

.count {
  margin: 6px !important;
  width: 35px !important;
  height: 35px !important;
  border-style: solid;
  border-width: 1.5px;
  border-left-color: red;
  border-top-color: green;
  border-right-color: yellow;
  border-bottom-color: blue;  
  font-weight: bold;
  margin: auto;
  border-radius: 50%;
  line-height:15px;
  font-size: 12px;
  padding: 5px;
}


.lighten {
  opacity: 0.5;
}

body {
  background-color: #006400;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}

.color-container > div {
  float:left;
  height: 147px;
  width: 147px;
  background-color: #ECE7EE;
}

.color-container {
  box-sizing: border-box;
  width: 300px;
  height: 320px;
  position: relative;
  text-align: center;
  margin: auto;
 
}
#green {
  background-color: green;
  border-radius: 0 100% 0 0;
  border: solid #333333;
  border-width: 2px 2px 1px 1px;
}
#yellow {
  background-color: yellow;
  border-radius: 0 0 0 100%;
  margin-top: -5px;
  border: solid #333333;
  border-width: 1px 1px 2px 2px;
}


#red {
  background-color: red; 
  border-radius: 100% 0 0 0;
  border: solid #333333;
  border-width: 2px 1px 1px 2px;
}
#blue {
  background-color: blue;
  border-radius: 0 0 100% 0;
  margin-top: -5px;
  border: solid #333333;
  border-width: 1px 2px 2px 1px;
}
.title {
  width:450px;
  text-align:center;
  display:block;
  margin:50px auto 10px auto;
  font-size:18px;
  color:#fff;
  }
  
.tempUnit:hover {
  text-decoration: underline;
}
.footer {
  width:450px;
  text-align:center;
  display:block;
  margin:15px auto 30px auto;
  font-size:1em;
  color:#fff;
  
}

.container {
  border-radius:3px;
  position:relative;
  margin:5% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:white;
  text-align:center;
}

  .buttons {
    width:450px;
    margin:auto;
    display:block;
  }
         
